body {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1;
  color: #1a1a1a;
  word-break: keep-all;
}
.serif {
  font-family: 'Gowun Batang', serif;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 20px;
  &.full {
    min-height: 100vh;
  }
  .title {
    margin-bottom: 32px;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #9592bf;
    &:before,
    &:after {
      content: "-";
      margin: 0 10px;
    }
  }
}

// entrance
@keyframes entrance-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.entrance {
  display: block;
  position: relative;
  overflow: initial;
  padding: 0;
  font-size: 24px;
  color: #656565;
  animation: entrance-gradient 5s ease infinite;
  background: linear-gradient(-45deg,rgba(255, 221, 211, 0.7),rgba(255, 219, 233, 0.7),rgba(216, 245, 255, 0.7),rgba(204, 255, 238, 0.7));
  background-size: 400% 400%;
  transition: all 0.3s;
  .inner {
    width: 100%;
    height: 240vh;
    background: #f2f3f5;
    transition: all 0.8s;
  }
  .scene2 {
    background: #f2f3f5 url('./images/entrance_bg.png') 50% 50% / contain repeat-x;
    background-attachment: fixed;
    .bg {
      &:before {
        border-left-color: rgba(182, 232, 255, 0.25);
      }
      &:after {
        border-right-color: rgba(255, 182, 182, 0.25);
      }
      .with {
        background-image: url('./images/entrance_2.png');
      }
      & + .messageBox {
        &:after {
          top: 120vh;
          font-size: 50px;
          color: #ff657d;
        }
      }
    }
  }
  .bg {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // background: url('./images/entrance_bg.png') 50% 100% / auto 380px no-repeat;
    z-index: 9;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      margin-bottom: -150vw;
      border-width: 120vw;
      border-style: solid;
      border-color: transparent;
      border-left-color: rgba(255, 182, 182, 0.25);
      transition: all 1.5s;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      margin-bottom: -150vw;
      border-width: 120vw;
      border-style: solid;
      border-color: transparent;
      border-right-color: rgba(182, 232, 255, 0.25);
      transition: all 1.5s;
    }
    .with {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url('./images/entrance_1.png') 50% 100% / 375px auto no-repeat;
      z-index: 1;
    }
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
  }
  .messageBox {
    position: relative;
    margin-top: -100vh;
    font-size: 20px;
    &:after {
      content: "♥";
      position: absolute;
      top: 56vh;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 40px;
      font-family: 'Noto Sans KR', sans-serif;
      color: #ff8b9c;
      transition: all 2s;
    }
    .message1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      height: 100vh;
      padding-bottom: 32vh;
      background: url('./images/heart.png') 50% calc(50% - 16vh) / 320px auto no-repeat;
      .messageUnit {
        margin-top: 12px;
      }
    }
    .date {
      margin-bottom: 8px;
      font-size: 16px;
    }
    .message2 {
      position: relative;
      margin-top: 30vh;
      font-size: 20px;
      z-index: 1;
    }
    .dday {
      margin-top: 4px;
    }
    .messageBlock {
      display: inline-block;
      padding: 8px 20px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.parent {
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.05em;
  color: #999;
  .row {
    margin-bottom: 20px;
  }
  .name {
    font-size: 20px;
    color: #1e1e1e;
  }
}

.contentWrap {
  position: relative;
  .weddingInfo {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 999;
  }
}

// invitation
.greeting {
  padding-bottom: 240px;
  line-height: 1.8;
  border-bottom: 1px solid #fff;
  background-color: #f5f5f5;
  background-image: url('./images/bg_greeting.png'), url('./images/bg_greeting_top.png');
  background-position: 0 100%, 100% 0;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
}

// gallery
.gallery {
  background: #313131;
  background: linear-gradient(0deg, rgba(30,30,31,1) 0%, rgba(57,58,59,1) 100%);
}
.pswp-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  max-width: 480px;
  margin: 0 auto;
}

// calendar
.dateInfo {
  background-color: #f3f1f7;
}
.calendar {
  width: 100%;
  max-width: 400px;
  padding: 30px 10px 20px;
  font-size: 13px;
  color: #656565;
  border-radius: 8px;
  background-color: #fff;
  .month {
    margin-bottom: 16px;
    font-size: 16px;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    .number {
      position: relative;
      z-index: 1;
    }
    &[data-day="0"] {
      color: #e27676;
    }
    &[data-day="6"] {
      color: #6b9ee0;
    }
    &.selected {
      position: relative;
      color: #fff;
      white-space: nowrap;
      .number {
        &:after {
          content: "\21B6";
          position: absolute;
          bottom: -11px;
          left: 100%;
          margin-left: 5px;
          font-size: 15px;
          color: #e76d6d;
          transform: rotate(80deg);
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./images/heart_calendar.png') 50% 50% / contain no-repeat;
        animation: pulse 2.5s ease infinite forwards;
      }
      &:after {
        content: "오전 11시";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -6px;
        font-size: 10px;
        color: #e76d6d;
        text-shadow: 0 0 1px #fff;
        transform: translateX(-50%);
      }
    }
    &.disabled {
      opacity: 0.3;
    }
  }
}
@keyframes pulse {
  10% { transform: scale(1); }
  50% { transform: scale(1.25); }
  90% { transform: scale(1); }
}
.btn {
  display: inline-block;
  padding: 1px 8px 3px;
  vertical-align: middle;
  font-size: 12px;
  color: #777;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
}
.mapInfo {
  .map {
    width: 100%;
  }
  .address {
    width: 100%;
    margin-top: 15px;
    padding: 20px 30px;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    border-radius: 12px;
    background-color: #f7f8f9;
    :last-child {
      margin-bottom: 0;
    }
    .blue {
      color: rgb(54, 118, 255);
    }
    .green {
      color: rgb(38, 163, 26);
    }
    .red {
      color: rgb(241, 72, 72);
    }
    .green2 {
      color: rgb(109, 177, 20);
    }
    .label {
      font-size: 16px;
      font-weight: 700;
    }
    p {
      margin: 8px 0;
    }
    i {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding-top: 1px;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      line-height: 1;
      color: #fff;
      border-radius: 100%;
      background-color: green;
    }
  }
  .navi {
    display: block;
    margin-top: 8px;
    padding: 8px 8px 8px 48px;
    border-radius: 4px;
    background-size: 20px;
    background-position: 12px 50%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.5);
    &.tmap {
      background-color: #fff;
      background-image: url('./images/ico_tmap.png');
    }
    &.kakao {
      background-color: #f3e136;
      background-image: url('./images/ico_kakao.png');
    }
    &.naver {
      color: #fff;
      background-color: #00c046;
      background-image: url('./images/ico_naver.png');
    }
  }
}

// account
.account {
  padding-top: 30px;
  line-height: 1.5;
  background-color: #f3f1f7;
  .box {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 14px;
    border-radius: 12px 12px 0 0;
    color: #777;
    background-color: #fff;
    & + .box {
      border-radius: 0 0 12px 12px;
      border-top: 1px dashed #f3f1f7;
    }
  }
  .label {
    margin-bottom: 4px;
    font-weight: 700;
    color: #1e1e1e;
  }
  .info {
    margin-top: 12px;
    font-size: 12px;
    color: #999;
  }
  .btnCopy {
    margin-top: 8px;
    padding: 1px 8px 3px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
  }
}