body {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1;
}
.serif {
  font-family: 'Gowun Batang', serif;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 20px;
  overflow: hidden;
  &.full {
    min-height: 100vh;
  }
  .title {
    margin-bottom: 32px;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #9592bf;
    &:before,
    &:after {
      content: "-";
      margin: 0 10px;
    }
  }
}

// intro
@keyframes walking {
  0% {background-position: 0 0;}
  100% {background-position: -672px 0;}
}
@keyframes bg1 {
  0% {background-position: 0;}
  100% {background-position: -380px 0;}
}
@keyframes bg2 {
  0% {background-position: 0;}
  100% {background-position: -547px 0;}
}
@keyframes bg3 {
  0% {background-position: 0;}
  100% {background-position: -536px 0;}
}
.intro {
  position: relative;
  height: 100%;
  padding: 60px 0;
  color: #afa2b3;
  // border: 8px solid #d2d2e7;
  // background: url('./images/flower_bottom.png') 50% 0 / auto 48px no-repeat, url('./images/flower_top.png') 50% 100% / auto 48px no-repeat;
  header {
    width: 100%;
  }
  h1 {
    margin-bottom: 8px;
    letter-spacing: 0.3em;
  }
  .dday {
    margin-bottom: 32px;
    font-size: 12px;
    letter-spacing: 0.2em;
  }
  h2 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    letter-spacing: 0.3em;
    color: #656565;
  }
  .info {
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }
  .visual {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    // border-radius: 100% 100% 0 0;
    // border: 4px solid #fff;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    // border: 1px solid #cdcddf;
  }
  .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-position: 100% 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
  }
  .layer1 {
    height: 122px;
    background-image: url('./images/visual_layer_1.png');
    z-index: 3;
    animation: bg1 8s linear infinite;
  }
  .layer2 {
    height: 55px;
    background-image: url('./images/visual_layer_2.png');
    z-index: 2;
    animation: bg2 24s linear infinite;
  }
  .layer3 {
    height: 77px;
    background-image: url('./images/visual_layer_3.png');
    opacity: 0.5;
    z-index: 1;
    animation: bg3 36s linear infinite;
  }
  .layer4 {
    left: 50%;
    width: 112px;
    height: 156px;
    background: url('https://i.imgur.com/ifk0SLH.png') 100% 0 / auto 100% no-repeat;
    z-index: 4;
    animation: walking 1s steps(6) infinite;
  }
}
.snowFall {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #ededf7;
  background: linear-gradient(#f5edf7, #b3b3df);
}
.snow {
  position: absolute;
  top: 0;
  animation: snowfall 10s linear forwards;
  z-index: 4;
  &:before {
    content: "❅";
    color: #fff;
  }
}
@keyframes snowfall {
	to {
		transform: translateY(100vh);
	}
}

// entrance
.test1 {
  position: fixed;
  top: 0;
  left: 50%;
  font-size: 48px;
}
.test2 {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: skyblue;
}

@keyframes entrance-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.entrance {
  display: block;
  position: relative;
  overflow: initial;
  padding: 0;
  font-size: 24px;
  color: #656565;
  animation: entrance-gradient 5s ease infinite;
  background: linear-gradient(-45deg,rgba(255, 221, 211, 0.7),rgba(255, 219, 233, 0.7),rgba(216, 245, 255, 0.7),rgba(204, 255, 238, 0.7));
  background-size: 400% 400%;
  transition: all 0.3s;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 50vh;
  //   left: -100vw;
  //   width: 200vw;
  //   height: 200vw;
  //   background: linear-gradient(260deg, rgba(255, 182, 182, 0.5), rgba(228, 190, 255, 0.75));
  //   opacity: 0.5;
  //   transform: rotate(45deg);
  // }
  .inner {
    width: 100%;
    height: 180vh;
  }
  .bg {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // background: url('./images/entrance_bg.png') 50% 100% / auto 380px no-repeat;
    z-index: 9;
    &:before {
      content: "";
      position: absolute;
      bottom: -50vw;
      left: -50vw;
      width: 200vw;
      height: 100vw;
      background: linear-gradient(260deg, rgba(255, 182, 182, 0.5), rgba(228, 190, 255, 0.75));
      opacity: 0.5;
      transform: rotate(30deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url('./images/entrance_1.png') 50% 100% / 320px auto no-repeat;
      transition: all 0.5s;
    }
    &.scene2 {
      &:after {
        background-image: url('./images/entrance_2.png');
      }
    }
  }
  .messageBox {
    margin-top: -100vh;
    font-size: 20px;
    .message1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      padding-bottom: 32vh;
      background: url('./images/heart.png') 50% calc(50% - 16vh) / 320px auto no-repeat;
    }
    .date {
      margin-bottom: 12px;
      font-size: 16px;
    }
    .message2 {
      .line {
        width: 1px;
        height: 40px;
        margin: 16px auto;
        background-color: #d4d4d4;
      }
    }
  }
}

// entrance fireworks
$particles: 40;
$width: 500;
$height: 500;

// create the explosion
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }

  @-moz-keyframes #{$animationName} {
      @content;
  }

  @-o-keyframes #{$animationName} {
      @content;
  }

  @-ms-keyframes #{$animationName} {
      @content;
  }

  @keyframes #{$animationName} {
      @content;
  }
}

@mixin animation-delay ($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration ($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation ($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform ($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}
.pyro {
  opacity: 0.5;
}
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}


// invitation
.greeting {
  min-height: 80vh;
  line-height: 1.8;
  border-top: 1px solid rgba(0,0,0,0.15);
  background: url('./images/pattern1.png') 50% 50% / cover no-repeat;
  box-shadow: 0px -20px 20px -20px rgba(0,0,0,0.2) inset, 0px 20px 20px -20px rgba(0,0,0,0.2) inset;
}

// gallery
.gallery {
  background: rgb(30,30,31);
  background: linear-gradient(0deg, rgba(30,30,31,1) 0%, rgba(57,58,59,1) 100%);
}
.pswp-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  max-width: 600px;
  margin: 0 auto;
}

// calendar
.dateInfo {
  background-color: #f3f1f7;
}
.calendar {
  width: 100%;
  max-width: 400px;
  padding: 30px 10px 20px;
  font-size: 13px;
  color: #656565;
  border-radius: 8px;
  background-color: #fff;
  .month {
    margin-bottom: 16px;
    font-size: 16px;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    .number {
      position: relative;
      z-index: 1;
    }
    &[data-day="0"] {
      color: #e27676;
    }
    &[data-day="6"] {
      color: #6b9ee0;
    }
    &.selected {
      position: relative;
      color: #fff;
      white-space: nowrap;
      .number {
        &:after {
          content: "\21B6";
          position: absolute;
          bottom: -11px;
          left: 100%;
          margin-left: 5px;
          font-size: 15px;
          color: #e76d6d;
          transform: rotate(80deg);
        }
      }
      &:before {
        content: "❤︎";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.55em;
        margin-left: -0.5em;
        font-size: 42px;
        font-family: sans-serif;
        color: #ffc9c9;
        text-shadow: 0 0 10px rgba(#ffc9c9, 0.8);
        animation: pulse 2.5s ease infinite forwards;
      }
      &:after {
        content: "오전 11시";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -6px;
        font-size: 10px;
        color: #e76d6d;
        text-shadow: 0 0 1px #fff;
        transform: translateX(-50%);
      }
    }
    &.disabled {
      opacity: 0.3;
    }
  }
}
@keyframes pulse {
  10% { transform: scale(1); }
  50% { transform: scale(1.25); }
  90% { transform: scale(1); }
}

.mapInfo {
  .map {
    width: 100%;
  }
}